.batuque-background{
    padding: 15px;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.batuque-header{
    font-size: 17px;
    font-weight: bold;
}
.batuque-menu{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    align-items: center;
}
.batuque-menu-select{

}
.batuque-menu-player{
    display: flex;
    align-items: center;
}
.batuque-menu-player-play{

}
.batuque-menu-player-pause{
    margin: 0 0 0 10px;
}
.batuque-container{
    flex: 1 1;
    display: flex;
    justify-content: space-between;
}
.batuque-instrument{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.batuque-footer{
    display: flex;
    margin: 20px 0;
    align-items: center;
    width: 100%;
}
.batuque-footer-speed{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.batuque-footer-speed-title{

}
.batuque-footer-speed-control{
    width: 100%;

}
.batuque-footer-speed-number{
    width: 20px;
    text-align: center;
}
.batuque-instrument-icon{
    margin: 0 0 10px 0;
}
.batuque-instrument-volume {
}